{% extends 'base.html' %}
<title>cov_19</title>
<link rel="stylesheet" href="/css/cov_19.css">
{% block content %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
     <div class="inner">
       <nav class="nav nav-masthead justify-content-start">
         <a class="nav-link" href="../">
           <h5>Home</h5>
         </a>
       </nav>
     </div>
  </header>
  <div class="row">
    <div class="col text-center">
      <h1>Comfirm Cases: {{ cases }}</h1>
      <h1>Deaths: {{ deaths }}</h1>
      <h1>Recoveries: {{ recovered }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="grow_over_time"></div>
    </div>
    <div class="col">
      <div id="countries"></div>
    </div>
  </div>
</div>
<script>
  Highcharts.chart('grow_over_time', {
      chart: {
          type: 'line'
      },
      title: {
          text: "Increment of confirm cases and deaths"
      },
      xAxis: {
          categories: [
          {% for cases in grow_over_time.cases %} '{{ cases }}', {% endfor %}
          ]
      },
      series: [{
          name: 'Confirm Cases',
          data: [
          {% for i in grow_over_time.cases.values %} parseInt('{{ i }}'), {% endfor %}
          ]
      },{
        name: 'Deaths',
        data: [
          {% for i in grow_over_time.deaths.values %} parseInt('{{ i }}'), {% endfor %}
        ]
      }]
    });
</script>
<script>
  Highcharts.chart('countries', {
      chart: {
          type: 'line'
      },
      title: {
          text: "Increment of confirm cases over days by country"
      },
      xAxis: {
          categories: [
          {% for day in data.canada %} '{{ day }}', {% endfor %}
          ]
      },
      series: [{
          name: 'Canada',
          data: [
          {% for i in data.canada.values %} parseInt('{{ i }}'), {% endfor %}
          ]
      },{
          name: 'UK',
          data: [
          {% for i in data.uk.values %} parseInt('{{ i }}'), {% endfor %}
          ]
      },{
          name: 'USA',
          data: [
          {% for i in data.usa.values %} parseInt('{{ i }}'), {% endfor %}
          ]
      },{
          name: 'China',
          data: [
          {% for i in data.china.values %} parseInt('{{ i }}'), {% endfor %}
          ]
      }]
    });
</script>
<footer class="text-center">All API rights go to <a href="https://github.com/novelcovid/api">NovelCOVID</a></footer>
{% endblock %}
